div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}
.container .text {
    text-align: center;
    background-color: yellow;
    font-size: 18px;
    color: red;
}